*{
    box-sizing: border-box;
}
body{
    display: block;
    text-align: '';
    clear: both;
}
.token.selector{
    color: #000;
}
.token.property{
    color: #000;
}
.token.function{
    color: #000;
}
#paper{
    overflow-y: scroll;
}
#code-wrapper{
    margin-top: -265px;
}
@keyframes breath{
    0%{
      box-shadow: 0 0 10px rgb(255, 255, 255)
    }
    100%{
      box-shadow: 0 0 10px rgba(0,0,0,0.2)
    }
}
a{ 
    color:#3399FF; 
    font-weight:Normal; 
    text-decoration:none; 
}
